.form {
    width: 50vw;
    min-width: 450px;
    margin: 1em;
    .delete {
        color: rgb(241, 134, 134);
        cursor: pointer;
    }
    .delete:hover {
        color: rgb(255, 0, 0);
    }
    .group {
        width: 100%;
    }
}