<mat-card class="form">
    <form [formGroup]="form">
        <mat-form-field>
            <input matInput formControlName="name" placeholder="Name">
        </mat-form-field>
        <fieldset>
            <legend>Experience</legend>
            <div fxLayout="row" fxLayoutAlign="space-between start" fxLayoutGap="0.5em">
                <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="1em" fxFlex="90">
                    <mat-card formArrayName="positions" style="width: 100%;" fxLayout="row" fxLayoutAlign="start start"
                        fxLayoutGap="1em" *ngFor="let item of form.get('positions')['controls']; let i = index">
                        <div class="group" [formGroupName]="i" fxLayout="row " fxLayoutAlign="space-between center">
                            <mat-form-field>
                                <input matInput formControlName="name" placeholder="Position">
                            </mat-form-field>
                            <mat-form-field>
                                <input matInput formControlName="time" placeholder="Time (months)" type="number">
                            </mat-form-field>
                            <i class="material-icons delete" (click)="remove(i)">
                                delete
                            </i>
                        </div>
                    </mat-card>
                </div>
                <div fxFlex="10">
                    <button mat-mini-fab (click)="addItem()">+</button>
                </div>
            </div>
        </fieldset>
        <button mat-raised-button color="primary" [disabled]="!form.valid" (click)="send()">
            Send
        </button>
    </form>
</mat-card>